* {
  margin: 0px;
  padding: 0px;
}
.header-top {
  background-color: rgb(239, 239, 239);
  color: rgb(127, 127, 127);
  padding: 7px 0px;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.top-header-left {
}
.top-header-left p {
  margin: 0px !important;
}
.top-header-right {
}
.top-header-right ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.top-header-right ul li {
}
.top-header-right a {
  color: rgb(127, 127, 127);
  text-decoration: none !important;
}
.main-nav {
  padding: 20px 0px;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  position: relative;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: rgb(22, 22, 22) !important;
}
.navbar-nav li {
  margin-left: 16px;
  font-size: 15px;
}
.navbar-light .navbar-nav .nav-link::before {
  content: "";
  background-color: rgb(255, 155, 26);
  height: 3px;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 50px;
  transition: all 500ms ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link:hover::before {
  width: 48%;
  transition: all 500ms ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  background-color: rgb(255, 155, 26);
  height: 3px;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50px;
  transition: all 500ms ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link:hover::after {
  width: 48%;
  transition: all 500ms ease-in-out 0s;
}
.nav-btn-custom {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  background-color: rgb(255, 155, 26);
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: all 400ms ease-in-out 0s;
}
.nav-btn-custom:hover {
  border: 1px solid rgb(255, 155, 26);
  background-color: transparent;
  color: rgb(255, 155, 26);
  transition: all 400ms ease-in-out 0s;
}
.banner-section {
  background-image: url("../images/banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  min-height: 70vh;
}
.banner-section h1 {
  text-align: center;
  font-family: Raleway, sans-serif;
  padding: 30px 0px;
  font-weight: bold;
  font-size: 50px;
}
.banner-details {
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  padding-bottom: 75px;
}
.banner-details .numbers {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
}
.banner-details h5 {
  display: inline;
  margin-left: 7px;
}
.btn-1-custom {
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: rgb(255, 155, 26);
  padding: 10px 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  margin: 0px 26px;
  transition: all 400ms ease-in-out 0s;
}
.btn-1-custom:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  transition: all 400ms ease-in-out 0s;
}
.btn-2-custom {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0px 25px;
  transition: all 400ms ease-in-out 0s;
}
.btn-2-custom:hover {
  background-color: rgb(255, 155, 26);
  border: transparent;
  transition: all 400ms ease-in-out 0s;
  color: rgb(255, 255, 255);
}
.button-row {
  text-align: center;
}
.banner-main-row {
  min-height: 60vh;
  align-items: center;
  display: flex;
}
.box-section {
  padding-bottom: 30px;
}
.box-row {
  padding-top: 85px;
}
.box-items {
  text-align: center;
  border: 1px solid rgb(225, 225, 225);
  font-family: Montserrat;
  padding: 40px 25px;
  transition: all 500ms ease-in-out 0s;
}
.box-items:hover i {
  color: rgb(255, 255, 255);
}
.box-items:hover {
  background-image: url("../images/hover bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255) !important;
}
.box-items:hover p {
  color: rgb(255, 255, 255);
}
.box-items i {
  color: rgb(255, 155, 26);
  font-size: 60px;
  padding-bottom: 40px;
}
.box-items h5 {
  padding-bottom: 10px;
}
.box-items:hover h5 {
  color: rgb(255, 255, 255);
}
.box-items p {
  color: rgb(110, 110, 110);
}
.service-section {
  text-align: center;
  padding: 60px 0px;
}
.heading {
  padding: 35px 0px;
  font-family: Montserrat;
}
.heading h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(43, 43, 43);
}
.heading p {
  color: rgb(110, 110, 110);
  padding: 20px 0px;
}
.heading span {
  position: relative;
}
.heading span::before {
  content: "";
  background-color: rgb(255, 155, 26);
  position: absolute;
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 400ms ease-in-out 0s;
}
.heading span::after {
  content: "";
  background-color: rgb(255, 155, 26);
  position: absolute;
  height: 3px;
  width: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 400ms ease-in-out 0s;
}
.service-section:hover span::before {
  width: 35px;
  transition: all 400ms ease-in-out 0s;
}
.service-section:hover span::after {
  width: 35px;
  transition: all 400ms ease-in-out 0s;
}
.service-types {
  padding: 40px 0px;
  transition: all 400ms ease-in-out 0s;
}
.services {
  font-family: Raleway;
}
.services img {
  padding-bottom: 30px;
}
.services h5 {
  color: rgb(43, 43, 43);
  font-weight: bold;
  padding-bottom: 15px;
}
.services p {
  color: rgb(110, 110, 110);
}
.service-button {
  padding: 20px 0px;
}
.view-more-btn {
  border: 1px solid rgb(142, 142, 142);
  color: rgb(43, 43, 43);
  font-family: Raleway;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 400ms ease-in-out 0s;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0px;
  box-shadow: none;
}
.view-more-btn:hover {
  background-color: rgb(255, 155, 26);
  border: 1px solid transparent;
  transition: all 400ms ease-in-out 0s;
  color: rgb(255, 255, 255);
}
.simple-step-section {
  background-image: url("../images/iphone bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
.iphone-part {
}
.iphone-part img {
  padding-top: 130px;
}
.iphone-text {
  padding-top: 60px;
}
.iphone-heading {
  padding-bottom: 30px;
}
.iphone-heading h2 {
  text-transform: uppercase;
  padding-bottom: 30px;
}
.iphone-heading span {
  position: relative;
}
.iphone-heading span::before {
  content: "";
  background-color: rgb(255, 155, 26);
  position: absolute;
  height: 3px;
  width: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 400ms ease-in-out 0s;
}
.simple-step-section:hover span::before {
  width: 50px;
  transition: all 400ms ease-in-out 0s;
}
.iphone-text-details {
  position: relative;
  padding: 28px 0px;
}
.iphone-text-details h5 {
  padding-left: 100px;
}
.iphone-text-details p {
  padding-left: 100px;
}
.shape-div {
  height: 60px;
  width: 60px;
  color: transparent;
  border: 2px solid rgb(255, 155, 26);
  border-radius: 10px;
  transform: rotate(45deg);
  position: absolute;
  display: inline;
  bottom: 50px;
  transition: all 500ms ease-in-out 0s;
}
.simple-step-section:hover .shape-div {
  transform: rotate(220deg);
  transition: all 500ms ease-in-out 0s;
}
.counting-section {
  background-color: rgb(255, 155, 26);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  text-align: center;
  padding: 35px 0px;
}
.counting-section span {
  font-size: 35px;
  font-weight: 500;
}
.counting-section h6 {
  text-transform: uppercase;
  font-size: 19px;
  padding-top: 12px;
}
.design-section {
  text-align: center;
  padding: 50px 0px;
}
.team-experts-section {
  text-align: center;
  font-family: Montserrat;
  padding: 20px 0px;
}
.team-experts-section:hover span::before {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.team-experts-section:hover span::after {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.persons {
}
.persons img {
  padding-top: 20px;
}
.persons h5 {
  text-transform: uppercase;
  padding-top: 15px;
}
.persons p {
  text-transform: uppercase;
  color: rgb(255, 155, 26);
}
.person-individual:hover {
  box-shadow: rgb(226, 226, 226) 0px 0px 8px 3px;
  transition: all 350ms ease-in-out 0s;
  border-radius: 30px;
}
.form-section {
  text-align: center;
  background-image: url("../images/free consultation bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  font-family: Montserrat;
  background-size: cover;
  padding: 50px 0px;
}
.form-section:hover span::before {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.form-section:hover span::after {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.form-heading {
}
.form-heading h2 {
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.form-row {
  padding-top: 30px;
}
.form-row input {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.form-row input::placeholder {
  color: rgb(255, 255, 255);
}
.form-row textarea::placeholder {
  color: rgb(255, 255, 255);
}
.form-row textarea {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.btn-form {
  text-transform: uppercase;
  font-family: Montserrat;
  background-color: rgb(255, 155, 26);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 40px;
  transition: all 400ms ease-in-out 0s;
  margin: 20px 0px;
}
.btn-form:hover {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}
.form-control:focus {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  outline: 0px;
  box-shadow: none;
}
.blog-section {
}
.blog-section:hover span::before {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.blog-section:hover span::after {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.blog-heading {
  text-align: center;
}
.blogs {
  position: relative;
  font-family: Montserrat;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 12px;
}
.blogs img {
}
.blogs h5 {
  font-size: 16px;
  padding-top: 30px;
  font-weight: bold;
  padding-left: 15px;
}
.blogs p {
  color: rgb(110, 110, 110);
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
}
.blogs:hover {
}
.blog-details {
}
.blog-details i {
  color: rgb(255, 255, 255);
  background-color: rgb(242, 108, 79);
  padding: 14px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  position: absolute;
  top: 246px;
  overflow: hidden;
  left: 12px;
  transition: all 0.5s ease-in-out 0s;
}
.blog-details i:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(242, 108, 79);
  box-shadow: black 5px 5px 5px;
}
.blog-details p:nth-child(2) {
  display: inline;
  padding-left: 64px;
  color: rgb(110, 110, 110);
  font-size: 14px;
}
.blog-details p:last-child {
  text-align: right;
  display: inline;
  padding-left: 93px;
  color: rgb(110, 110, 110);
  font-size: 14px;
}
.owl-carousel .owl-item img {
  display: block;
  width: 9%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 78px;
  margin: auto;
}
.testimonial-section {
  text-align: center;
  padding: 50px 0px;
  font-family: Montserrat;
  position: relative;
}
.testimonial-section :hover span::before {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.testimonial-section :hover span::after {
  width: 30px;
  transition: all 400ms ease-in-out 0s;
}
.testimonial-heading {
}
.clients {
}
.clients h5 {
  font-weight: bold;
  padding-top: 20px;
}
.clients p {
  text-transform: uppercase;
  color: rgb(242, 108, 79);
}
.client-image {
  text-align: center;
  position: relative;
}
.client-image img {
}
.testimonial-heading h2 {
  padding-bottom: 25px;
}
.testimonial-heading p {
  padding-top: 35px;
}
.owl-nav .owl-prev {
  position: absolute;
  font-size: 40px !important;
  left: 0;
  bottom: 200px;
  color: rgb(242, 108, 79) !important;
}
.owl-nav .owl-next {
  position: absolute;
  font-size: 40px !important;
  right: 0;
  bottom: 200px;
  color: rgb(242, 108, 79) !important;
}
.invidet {
  width: 3% !important;
  position: absolute !important;
  left: 52%;
  bottom: 0;
  border: 1px solid #fff !important;
}
footer {
}
.main-part-footer {
}
.main-part-footer p {
  font-size: 16px;
  margin-bottom: 0 !important;
  padding-top: 59px;
  padding-bottom: 40px;
  line-height: 28px;
}
.main-part-footer i {
  height: 45px;
  width: 45px;
  border: 1px solid #989898;
  text-align: center;
  line-height: 45px;
  border-radius: 50px;
  margin-right: 9px;
  font-size: 18px;
  transition: 0.5s all ease-in-out;
}
.main-part-footer i:hover {
  color: #00aced;
  border: 1px solid #00aced;
}
.footer-logo-image {
}
.footer-logo-image img {
}
.footer-contact {
}
.footer-contact h5 {
}
.footer-contact span {
  position: relative;
}
.footer-contact span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0px;
  background-color: rgb(242, 108, 79);
  transition: 0.5s all ease-in-out;
}
.footer-contact:hover ::before {
  width: 40px;
}
.footer-cotnact-details {
  padding-top: 50px;
}
.footer-cotnact-details i {
}
.footer-cotnact-details p {
  padding-left: 16px;
  padding-top: 19px;
}
.footer-quick-links {
}
.footer-quick-links h5 {
}
.footer-quick-links span {
  position: relative;
}
.footer-quick-links span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0px;
  background-color: rgb(242, 108, 79);
  transition: 0.5s all ease-in-out;
}
.footer-quick-links:hover ::before {
  width: 40px;
}
.footer-quick-links ul {
  list-style: none;
  padding: 0;
  padding-top: 66px;
}
.footer-quick-links ul li {
  padding-bottom: 10px;
}
.footer-quick-links ul li a {
  text-decoration: none;
  color: #989898;
}
.footer-newsletter {
}
.footer-newsletter h5 {
}
.footer-newsletter span {
  position: relative;
}
.footer-newsletter span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0px;
  background-color: rgb(242, 108, 79);
  transition: 0.5s all ease-in-out;
}
.footer-newsletter:hover ::before {
  width: 40px;
}

.footer-newsletter p {
  padding-top: 65px;
}
.footer-newsletter form {
  position: relative;
}
.footer-newsletter input {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px 12px;
  margin-top: 46px;
}
.footer-newsletter input::placeholder {
}
.btn-footer {
  color: #fff !important;
  background-color: #fb8f2c;
  border-radius: 50px;
  padding: 0;
  padding: 10px 25px;
  right: 0px;
  position: absolute;
  bottom: 0;
}
.small-footer {
  background-color: #000000;
  padding: 30px 0px;
}
.small-footer a:hover {
  color: #fff;
}
.small-footer .left-content {
  font-family: "Montserrat";
  color: #504e4e;
}
.small-footer .right-content {
}
.right-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0 !important;
}
.right-content ul li {
}
.right-content ul li a {
  text-decoration: none;
  color: #737272;
  font-family: "Montserrat";
}
.left-content span {
  color: #fff;
}
.big-footer {
  font-family: "Montserrat";
  background-color: #101010;
  padding: 85px 0px;
}
.big-footer p {
  color: #989898;
}
.big-footer h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.big-footer span {
}
.big-footer i {
  color: #989898;
}
.big-footer i:hover {
  color: #00aced;
  transition: 0.4s all ease-in-out;
}
.big-footer a:hover {
  color: #fff;
  transition: 0.5s all ease-in-out;
}
.icon-text {
  display: flex;
  align-items: center;
}
.btn-footer i {
  color: #fff !important;
}
.left-content p {
  margin-bottom: 0;
}
.top-header-right a:hover {
  color: #111;
  transition: 0.5s all ease-in-out;
}
.clients p {
  color: rgb(110, 110, 110);
  padding: 20px 15%;
  text-transform: capitalize;
}
.clients p:last-child {
  color: rgb(242, 108, 79);
}
